api/node_modules

api/.idea

api/package.json
api/package-lock.json

website/node_modules

website/package.json
website/package-lock.json

website/.idea

website/.pnp
website/.pnp.js

website/coverage

website/build

website/.DS_Store
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local

website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
